body, html {
	height: 100%;
	background-color: #181818;
/*	border: 5px solid black;*/
	font-family: Bodoni;
	font-variant: small-caps;
	font-size: 31px;

}

#navTop {
	position: fixed;
	z-index: 100;
	top: 0;
	box-shadow: 0px 0px 500px #3e1b47;
	height: 100px;
}

#navTop img {
	height: 100px;
}

#navTop img:hover {
	opacity: .2;
}


#navBottom {
	position: fixed;
	z-index: 100;
	bottom: 0;
	box-shadow: 0px 0px 500px white;
}

#navBottom a:hover {
	opacity: .1;
}

@media only screen and (max-width: 503px) {
  #coverPage {
    box-shadow: none;
    border-top: none;
    border-bottom: none;
  }
  body, html {
  	background-color: black;
  }
}

#coverPage {
	height: 100%;
	max-width: 100%;
	background-color: #181818;
	background-image: url("images/color6_4.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 500px #3e1b47;
	margin: auto;
	border: 7px solid black;
}

#navPage .collection {
	margin: auto;
	width: 333px;
	text-align: center;
}


@media (max-height: 1000px) {
	#coverPage {
		max-width: 500px;
	}
	#navTop {
		height: 64px
	}
	#navTop img {
		height: 64px;
	}
}

nav ul a {
	font-size: 31px;
	display: inline-block;
}

@media only screen and (max-width: 750px) {
	nav ul a {
		font-size: 28px;
	}
}

@media only screen and (max-width: 650px) {
	nav ul a {
		font-size: 24px;
	}
}

@media only screen and (max-width: 503px) {
	nav ul a {
		font-size: 21px;
	}
	#back2menu {
		font-size: 24px;
	}
}

@media only screen and (max-width: 427px) {
	#navBottom {
		height: 128px;
	}
	#navBottom ul {
		width: 100%;
	}
}




nav {
	background-color: black;
	box-shadow: 0px 0px 500px white;
	opacity: .9;
	overflow: hidden;
}








#navPage {
	height: 100%;
	background-color: #181818;
	background-image: url("images/color6_3.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 1px;
}




@media (max-height: 666px) {
	#navPage .collection {
		margin-bottom: 159px;
	}
}


.collection .collection-item {
	margin: 13px;
	cursor: pointer; 
	opacity: .7;
}

.collection:hover {
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
	color: transparent;
}


.collection li.collection-item:hover {
	opacity: .9;
	color: black;
	text-shadow: none;
}

.gradient-border:hover {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;

}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);

  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#mainNav {
	height: 96.33px;
	position: fixed;
	top: 0;
}

#mainNav .brand-logo img {
	max-width: 227px;
	height: 96px;
}

#mainNav li a {
	margin: 30px;
}

#mainNav .btn {
	background-color: white;
	opacity: .7;
}

#mainNav .btn:hover {
	opacity: 1;
}

.waves-effect img {
	z-index: 1;
}


.page {
	height: 100%;
	margin-top: 1px;
}

#aboutus #logo {
	margin-top: 133px;
	width: 300px;
	border: 1px solid black;
}



